{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Realestates baby</title>
    <link href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'my_nav_bar.css' %}" rel="stylesheet">
</head>
<body>

<div class="topnav">
    <a class="bg-success" href="{% url 'create_user' %}"> New User</a>
    <a class="bg-secondary" href="{% url 'realestate_list' %}">List of Realestates</a>
    <a class="bg-secondary" href="{% url 'contact' %}">Contact</a>


    {% if user.is_authenticated %}
        <a class="bg-secondary" href="{% url 'Sell_Buy' %}">Buy or Sell?</a>
    <a class="bg-secondary" href="{% url 'create_realestate' %}">Create Realestate</a>
    <a class="bg-secondary" href="{% url 'realtor_list' %}">List of Realtors</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a class="bg-secondary" href="{% url 'create_realtor' %}"> Create Realtor</a>

        <a class="bg-gradient" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="bg-gradient" href="{% url 'login' %}">Login</a>
    {% endif %}


</div>
<div class="container">
    {% block content %}
        <h1>Realestate</h1>
    {% endblock %}

</div>
<script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.js' %}"></script>
</body>
</html>